body {
  background: #f8fafa;
  max-width: 1920px;
  margin: 0 auto;
}

.movies-container {
  display: flex;
  max-width: 813px;
  margin: 0 auto;
  gap: 24px;
  flex-wrap: wrap;
}

.movie-card {
  padding: 24px;
  width: 100%;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.045);
}
.movies {
  width: 100%;
}

.movie-card main {
  display: flex;
  margin-top: 12px;
  gap: 12px;
}

.movie-card main .content {
  width: 70%;
}
.movie-card main .cover {
  width: 30%;
}

.imdb-rating {
  display: flex;
  align-items: center;
  gap: 8px;
}

.imdb-icon {
  background: #ffda79;
  padding: 5px 16px 0px;
  border-radius: 12px;
}

.movies * {
  margin: 12px 0;
}

.total-rate {
  font-size: 18px;
  font-weight: 900;
  color: #ad651d;
}

.movie-title {
  font-weight: 500;
  color: #1f1f1f;
}

.cover img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.movie-details-section {
  margin-top: 16px;
}

.movie-details-section * {
  margin: 2px 0;
}

.movie-details-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  user-select: none;
}

.movie-details-box .title {
  font-size: 14px;
  background: #f0f6fe;
  padding: 6px 16px;
  min-width: max-content;
  color: gray;
  border-radius: 6%;
}

.movie-details-box .seperator {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.065);
}

.movie-details-box .value {
  padding: 6px 12px 4px;
  font-weight: normal;
  font-size: 14px;
  min-width: max-content;
  border-radius: 6px;
}

.highlighted {
  color: white;
  padding-top: 8px !important;
  background: #17a2b8;
}

.main-sidebar {
  min-width: 30%;
  max-width: 30%;
  height: 600px;
  background: white;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.pagination-buttons {
  width: max-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 84px;
  gap: 3px;
}

.pagination-button {
  display: flex;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  background: #f0f6fe;
  font-size: 14px;
  color: rgb(99, 99, 99);
  cursor: pointer;
  padding: 6px 12px 3px;
  transition: all ease 200ms;
  user-select: none;
}

.pagination-button:hover {
  background: #0091ffdc;
  color: white;
}

.active-page {
  background: rgb(0, 157, 255);
  color: white;
  box-shadow: 0 0 16px rgba(0, 128, 255, 0.301);
}

.pagination-button.active-page:hover {
  background: #0077ff !important;
}

header.header {
  background: white;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.094);
}

nav.windows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin-bottom: 12px;
}
