* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
strong a:visited {
  color: #1f1f1f;
}

.font-thin {
  font-family: "Dana-Thin";
}

.font-light {
  font-family: "Dana-Light";
}

.font-regular {
  font-family: "Dana-Regular";
}

.font-medium {
  font-family: "Dana-Medium";
}

.font-demibold {
  font-family: "Dana-Demibold";
}

.font-bold {
  font-family: "Dana-Bold";
}

.font-extrabold {
  font-family: "Dana-Extrabold";
}

.font-black {
  font-family: "Dana-Black";
}

.flex {
  display: flex;
}

.gap {
  gap: 2px;
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.gap-3 {
  gap: 12px;
}

.gap-4 {
  gap: 16px;
}

.gap-5 {
  gap: 20px;
}

.gap-6 {
  gap: 24px;
}

.gap-7 {
  gap: 28px;
}

.gap-8 {
  gap: 32px;
}

.gap-9 {
  gap: 36px;
}

.gap-10 {
  gap: 40px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.clamp-1 {
  -webkit-line-clamp: 1;
}
.clamp-2 {
  -webkit-line-clamp: 2;
}
.clamp-3 {
  -webkit-line-clamp: 3;
}
.clamp-4 {
  -webkit-line-clamp: 4;
}
.clamp-5 {
  -webkit-line-clamp: 5;
}

.text-dark {
  color: #1f1f1f;
}

.gap-1\.5 {
  gap: 6px;
}

.text-6xl {
  font-size: 40px;
}

.text-5xl {
  font-size: 36px;
}

.text-4xl {
  font-size: 32px;
}

.text-3xl {
  font-size: 28px;
}

.text-2xl {
  font-size: 24px;
}

.text-xl {
  font-size: 21px;
}

.text-lg {
  font-size: 18px;
}

.text-base {
  font-size: 16px;
}
.text-sm {
  font-size: 14px;
}

.text-xs {
  font-size: 12px;
}

.items-center {
  align-items: center;
}

.text-gray {
  color: rgb(107, 107, 107);
}

.text-info {
  color: #5199f4;
}


.justify-between {
  display: flex;
  justify-content: space-between;
}

.mt-100 {
  margin-top: 100px;
}
