* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.font-thin {
  font-family: "Dana-Thin";
}

.font-light {
  font-family: "Dana-Light";
}

.font-regular {
  font-family: "Dana-Regular";
}

.font-medium {
  font-family: "Dana-Medium";
}

.font-demibold {
  font-family: "Dana-Demibold";
}

.font-bold {
  font-family: "Dana-Bold";
}

.font-extrabold {
  font-family: "Dana-Extrabold";
}

.font-black {
  font-family: "Dana-Black";
}
